<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @ticket.content %>
</p>

<p>
  <b>Owner:</b>
  <%= @ticket.owner %>
</p>

<p>
  <b>Priority:</b>
  <%= @ticket.priority %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<p>
  <b>Assignee:</b>
  <%= @ticket.assignee %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
