<script>
$(function() {
	$( "#milestone_due_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>

<%= form_for(@milestone) do |f| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% @milestone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.text_field :due_date, {:size => 11} %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc, :rows => 4, :cols => 40 %>
  </div>
    <%= f.hidden_field :project_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
