<h1>Listing milestones</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @milestones.each do |milestone| %>
  <tr>
    <td><%= milestone.name %></td>
    <td><%= milestone.desc %></td>
    <td><%= milestone.project_id %></td>
    <td><%= link_to 'Show', project_milestones_path(milestone) %></td>
    <td><%= link_to 'Edit', edit_project_milestone_path(@project, milestone) %></td>
    <td><%= link_to 'Destroy', milestone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Milestone', new_project_milestone_path %> |
<%= link_to 'Back to admin', admin_project_path(@project) %>
